<template name="clientView">
    <div class="container-fluid slideContainer">
<!--{{> loginButtons}} ksjfksdfsfsd-->

<ul id="slideShow" class="pgwSlideshow">
    {{#if Template.subscriptionsReady}}
        {{#each slides}}
            <li><img src="/images/{{filename}}"></li>
        {{/each}}
    
    {{/if}}
</ul>

<div class="row">
  <div class="col-md-6"><button type="button" class="btn btn-primary btn-block btn-current">current slide</button></div>
  <div class="col-md-6"><button type="button" class="btn btn-primary btn-block btn-footnote">footnote</button></div>
</div>
</div>
</template>


